.Block {
    border: 2px solid #a39f9f;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;

    .Info {
        margin-top: 10px;
    }
}